trigger:
  batch: true
  branches:
    include:
    - '*'

jobs:

- job: 'Test'
  strategy:
    matrix:
      # Only test on one OS with one version to speed tests up (since they need
      # to download models)

      # Python36Linux:
      #   imageName: 'ubuntu-16.04'
      #   python.version: '3.6'

      # Currently not working because installing PyTorch fails
      # Python36Windows:
      #   imageName: 'vs2017-win2016'
      #   python.version: '3.6'

      Python36Mac:
        imageName: 'macos-10.15'
        python.version: '3.6'
    maxParallel: 4
  pool:
    vmImage: $(imageName)

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: 'Install dependencies'

  - script: python -m pytest tests
    displayName: 'Run tests'

  - script: python setup.py sdist
    displayName: 'Test sdist'
